@import '../../app/colors.module.scss';

.buttonSignIn {
    background-color: $lightRed;
    color: $lightGray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $darkRed;
        color: $darkGray;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}